<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="compilerAssemblies" value="mscorlib.dll;System.dll;System.Core.dll;System.Data.dll;System.Data.DataSetExtensions.dll;System.Xml.dll;System.Xml.Linq.dll;Microsoft.CSharp.dll;Statistics.Core.Widgets.dll"/>
    <add key="reportsDirectory" value="C:\reports"/>
  </appSettings>
</configuration>